.cart {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid red;
}

.cartItemContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.cartTitle {
  color: var(--color-red);
  font-size: 24px;
  font-weight: 600;
}

.cartItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cartItemChild {
  display: flex;
  gap: 8px;
}

.cartItemName {
  color: var(--color-rose-900);
  font-size: 14px;
  font-weight: 600;
}

.cartItemQuantity {
  color: var(--color-red);
  font-size: 14px;
  font-weight: 600;
}

.cartItemPrice {
  color: var(--color-rose-500);
  font-size: 14px;
}

.cartItemTotal {
  color: var(--color-rose-500);
  font-size: 14px;
  font-weight: 600;
}
