.cart {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.cartItemContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartTitle {
  color: var(--color-red);
  font-size: 1.5rem;
  font-weight: 600;
}

.cartItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cartItemChild {
  display: flex;
  gap: 0.5rem;
}

.cartItemName {
  color: var(--color-rose-900);
  font-size: 0.875rem;
  font-weight: 600;
}

.cartItemQuantity {
  color: var(--color-red);
  font-size: 0.875rem;
  font-weight: 600;
}

.cartItemPrice {
  color: var(--color-rose-500);
  font-size: 0.875rem;
}

.cartItemTotal {
  color: var(--color-rose-500);
  font-size: 0.875rem;
  font-weight: 600;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
}

.orderTotalTitle {
  color: var(--color-rose-900);
  font-size: 0.875rem;
  font-weight: 400;
}

.orderTotalPrice {
  color: var(--color-rose-900);
  font-size: 1.5rem;
  font-weight: 700;
}

.cartInfo {
  background-color: var(--color-rose-50);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.cartImage {
  display: inline;
}
