.productImageItem {
  border-radius: 0.5rem;
}

.productCategory {
  color: var(--color-rose-500);
  font-size: 14px;
  font-weight: 400;
}

.productName {
  color: var(--color-rose-900);
  font-size: 1rem;
  font-weight: 600;
}

.productPrice {
  color: var(--color-red);
  font-size: 1rem;
  font-weight: 600;
}

.productImageContainer {
  position: relative;
  width: 100%;
}

.productButtonOverlay {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
