.productImageItem {
  border-radius: .5rem;
}

.productCategory {
  color: var(--color-rose-500);
  font-size: 14px;
  font-weight: 400;
}

.productName {
  color: var(--color-rose-900);
  font-size: 16px;
  font-weight: 600;
}

.productPrice {
  color: var(--color-red);
  font-size: 16px;
  font-weight: 600;
}
