.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 160px;
  height: 44px;
  border: 1px solid #260F08;
  border-radius: 40px;
  cursor: pointer;
  background-color: white;
  color: #260F08;
  font-size: 14px;
  font-weight: 600;
  transition: border 0.2s, color 0.2s;
}

.button:hover {
  border: 1px solid #C73B0F;
  color: #C73B0F;
}

/* .button:active {
  background-color: #C73B0F;
  color: white;
} */
