.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: border 0.2s ease;
}

.button:hover {
  border: .063rem solid var(--color-red);
  color: var(--color-red);
}

.button--primary {
  border: .063rem solid var(--color-rose-900);
  border-radius: 2.5rem;
  background-color: white;
  color: #260F08;
  font-size: 0.875rem;
}

.button--secondary {
  background-color: #e5e5ea;
  color: #1c1c1e;
}

.button--small {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.button--medium {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.button--large {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
