.button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: border 0.2s ease;
}

.button:hover {
  border: 0.063rem solid var(--color-red);
  color: var(--color-red);
}

.button--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 0.063rem solid var(--color-rose-900);
  border-radius: 2.5rem;
  background-color: var(--color-white);
  color: var(--color-rose-900);
  font-size: 0.875rem;
}

.button--secondary {
  background-color: #e5e5ea;
  color: #1c1c1e;
}

.button--small {
  border-radius: 50%;
  border: 0.063rem solid white;
  background: var(--color-red);
  height: 1.25rem;
}

.button--medium {
  padding: 0.75rem 0.75rem;
}

.button--large {
  padding: 1rem 2rem;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
