.cartItemControl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2.5rem;
  background-color: var(--color-red);
  max-width: 10rem;
  height: 2.75rem;
  cursor: pointer;
  color: var(--color-white);
}

.cartItemControlQuantity {
  font-size: .875rem;
  font-weight: 600;
}
